<p>
  <h1><b>Forum:</b>
  <%= @forum.title %>
  </h1>
</p>

<table>
<tr>
	<th>Topic</th>
	<th><Creator</th>
</tr>
<% @forum.topics.each do |topic| %>
<tr>
	<td><%= link_to topic.title, [@forum, topic] %></td>
	<td><%= link_to_if topic, topic.user.username, topic.user %></td>
	<% if signed_in? %>
		<% if current_user?(User.find(topic.user_id)) %>
			<td><%= link_to 'Edit', edit_forum_topic_path(@forum, topic) %></td>
			<td><%= link_to 'Destroy', [@forum, topic], :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	<% end %>
</tr>
<% end %>
</table>

<% if signed_in? %>
<%= link_to 'New Topic', new_forum_topic_path(@forum) %> |
	<% if current_user?(User.find(@forum.user_id)) %>
	<%= link_to 'Edit', edit_forum_path(@forum) %> |
	<% end %>
<% end %>
<%= link_to 'Back', forums_path %>
