<p id="notice"><%= notice %></p>

<p>
  <h1><b>Forum:</b>
  <%= @forum.title %>
  </h1>
</p>

<table>
<tr>
	<th>Topic</th>
	<th><Creator</th>
</tr>
<% @forum.topics.each do |topic| %>
<tr>
	<td><%= link_to topic.title, [@forum, topic] %></td>
	<td><%= link_to_if topic, topic.user.username, topic.user %></td>
	<td><%= link_to 'Edit', edit_forum_topic_path(@forum, topic) %></td>
	<td><%= link_to 'Destroy', [@forum, topic], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

<%= link_to 'New Topic', new_forum_topic_path(@forum) %> |
<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
